body{
    background-color:black;
    overflow-x: hidden;
}
.topic{
    position: absolute;
    color: white;
    left: 35%;
    top: 1.9vh;
    font-size: 3.5vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

.arrowback{
    position: absolute;
    left: 6%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    z-index: 11;
}
.arrownext{
    position: absolute;
    left: 90%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    transform: scaleX(-1);
    z-index: 10;
}
.calendar{
    position: absolute;
    left: 12%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    z-index: 13;
}
.pre{
    font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}



.div24{
    position: relative;
    width: 30%;
    height: 80vh;
}
.Sep24color{
    position: absolute;
    left: 26vw;
    top:20%;
    width: 50vw;
    height: auto;
    opacity: 1;
    filter: grayscale(100%);
}

.S24{
    position: absolute;
    left: 5vw;
    width: 20vw;
    top: 20%;
    font-size: 3vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

.div24:hover .Sep24color{
    filter: grayscale(0%);
    animation: rotate 2s ease forwards;
    animation-iteration-count: 1;
}
.div24:hover .sentence24{
    animation: expand 3s ease forwards;
    animation-iteration-count: 1;
}
.sentence24{
    color: white;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 3.5vw;
    opacity: 0;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}









.div25{
    position: relative;
    width: 30%;
    height: 80vh;
    top: 30%;
}
.Sep25color{
    position: absolute;
    left: 26vw;
    top: 30%;
    width: 50vw;
    height: auto;
    opacity: 1;
    filter: grayscale(100%);
}
.sentence25{
    color: white;
    position: absolute;
    top: 25%;
    left: 0%;
    font-size: 2.5vw;
    opacity: 0;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.S25{
    position: absolute;
    left: 5vw;
    width: 20vw;
    top: 15%;
    font-size: 3vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.div25:hover .Sep25color{
    filter: grayscale(0%);
    animation: rotate 2s ease forwards;
    animation-iteration-count: 1;
}
.div25:hover .sentence25{
    animation: expand 3s ease forwards;
    animation-iteration-count: 1;
}




.div26{
    position: relative;
    width: 30%;
    height: 80vh;
    top: 30%;
}
.Sep26color{
    position: absolute;
    left: 26vw;
    top: 40%;
    width: 50vw;
    height: auto;
    opacity: 1;
    filter: grayscale(100%);
}
.sentence26{
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 2.5vw;
    opacity: 0;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.S26{
    position: absolute;
    left: 5vw;
    width: 20vw;
    top: 25%;
    font-size: 3vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.div26:hover .Sep26color{
    filter: grayscale(0%);
    animation: rotate 2s ease forwards;
    animation-iteration-count: 1;
}
.div26:hover .sentence26{
    animation: expand 3s ease forwards;
    animation-iteration-count: 1;
}




.div28{
    position: relative;
    width: 30%;
    height: 80vh;
    top: 30%;
}
.Sep28color{
    position: absolute;
    left: 26vw;
    top: 60%;
    width: 50vw;
    height: auto;
    opacity: 1;
    filter: grayscale(100%);
}
.sentence28{
    color: white;
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 2.5vw;
    opacity: 0;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.S28{
    position: absolute;
    left: 5vw;
    width: 20vw;
    top: 45%;
    font-size: 3vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.div28:hover .Sep28color{
    filter: grayscale(0%);
    animation: rotate 2s ease forwards;
    animation-iteration-count: 1;
}
.div28:hover .sentence28{
    animation: expand 3s ease forwards;
    animation-iteration-count: 1;
}





h1{
    color: white;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: white;
}


@keyframes rotate{
    0%{
        transform: rotate(0) scale(1);
        filter: grayscale(100%);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg) scale(1.25);
        filter: grayscale(0%);
        opacity: 0.5;
    }
}
@keyframes expand{
    from{
        width: 0;
        opacity: 0;
    }
    to{
        width: 100vw;
        opacity: 1;
    }
}
