body{
    background-color: aquamarine;
}
.Oct4{
    background-color: white;
    color: darkslategrey;
    padding:20px ;
    margin: 50px;
    width: auto;
    height: auto;
}
.Oct5{
    background-color: white;
    color: darkslategrey;
    padding:20px ;
    margin: 50px;
    width: auto;
    height: auto;
}
.Oct6{
    background-color: white;
    color: darkslategrey;
    padding:20px ;
    margin: 50px;
    width: auto;
    height: auto;
}