body{
    overflow-x: hidden;
    position: relative;
    width: auto;
}


h1{
    font-size: 3.5vw;
    position: absolute;
    left: 37%;
    top: 1.5vh;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}

.arrownext{
    position: absolute;
    left: 90.5%;
    top: 7vh;
    width: 3vw;
    height: auto;
    transform: scaleX(-1);
    filter: invert(1);
}
.arrowback{
    position: absolute;
    left: 6%;
    top: 7vh;
    width: 3vw;
    height: auto;
    filter: invert(1);
}
.calendar{
    position: absolute;
    left: 12%;
    top: 7vh;
    width: 3vw;
    height: auto;
    filter: invert(1);
}
.imagelarge{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2%;
    top: 2%;
    left: 3%;
}
.parent{
    position: absolute;
    left: 5%;
    top: 20vh;
    width:90% ;
    height: auto;
}
img{
    width: 95%;
    height: auto;
}




.tinahi{
    position: absolute;
    opacity: 1;
    width: 30%;
    height: auto;
    top: 65vw;
    left: 10%;
    z-index: -1;
}
.ruihi{
    position: absolute;
    opacity: 1;
    width: 30%;
    height: auto;
    top: 85vw;
    left: 10%;
    z-index: -1;
}
.eve1hi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 55vw;
    left: 60%;
    z-index: -1;
}
.eve2hi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 70vw;
    left: 60%;
    z-index: -1;
}
.abbyhi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 85vw;
    left: 60%;
    z-index: -1;
}
.pall1:hover{
    opacity: 0;
}
.pall2:hover{
    opacity: 0;
}

.kristinhi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 120vw;
    left: 13%;
    z-index: -1;
}
.naomihi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 120vw;
    left: 63%;
    z-index: -1;
}
.pallohi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 170vw;
    left: 13%;
    z-index: -1;
}
.oliviahi{
    position: absolute;
    opacity: 1;
    width: 25%;
    height: auto;
    top: 170vw;
    left: 63%;
    z-index: -1;
}

.kristin:hover{
    opacity: 0;
}
.naomi:hover{
    opacity: 0;
}
.pallo:hover{
    opacity: 0;
}
.olivia:hover{
    opacity: 0;
}


@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
        height: auto;
    }
    .parent{
        top: 15vw;
    }
    .topic{
        font-size: 25px;
        left: 30%;
        top: 0%;
    }
    .arrowback{
        width: 20px;
        height: auto;
        top: 3vw;
    }
    .arrownext{
        width: 20px;
        height: auto;
        top: 3vw;
    }
    .calendar{
        width: 20px;
        height: auto;
        top: 3vw;
    }
    img{
        width: 220px;
    }
    .imagelarge{
        left: -3%;
    }

    .tinahi{
        top: 58vw;
    }
    .ruihi{
        top: 78vw;
    }

    .eve1hi{
        top: 56vw;
    }
    .eve2hi{
        top: 70vw;
    }
    .abbyhi{
        top: 84vw;
    }
    .kristinhi{
        top: 120vw;
        width: 20vw;
    }
    .naomihi{
        top: 120vw;
        width: 20vw;
    }
    .pallohi{
        top: 180vw;
        width: 20vw;
    }
    .oliviahi{
        top: 180vw;
        width: 20vw;
    }
}