body{
    background-color: rgb(47, 46, 46);
    height: 1500px;
    font-family: "Playwrite DE SAS", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    border: 30px black solid;
}

.overall{
    color: white;
    width: 300px;
    height: auto;
}

.home{
    color: white;
    position: relative;
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.hidden{
    color: white;
    position: relative;
    left: 10%
}
.parent{
    background-color: rgb(50, 56, 63);
    position: relative;
    /*left: 25%;
    top: 40% ;*/
    width: 800px;
    height: 1100px;
    margin: auto;
    border: rgb(132, 132, 165) 10px solid;
}
.child{
    color: white;
    position: relative;
    left: 30px;
}
.child2{
    color: gray;
    width: 400px;
    position: relative;
    left: 30%;
    background-color: rgb(234, 228, 219);
}
.title{
    color: white;
    position: relative;
    text-align: center;
}