body{
    background-color: black;
    overflow-x: hidden;
}
.parent{
    width: 100vw;
    height: 100vh;
}
.topic{
    position: relative;
    color: white;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    text-align: center;
    top: 2vh;
}
.arrowback{
    position: absolute;
    left: 6%;
    top: 7.5%;
    width: 3%;
    height: auto;
}
.calendar{
    position: absolute;
    left: 12%;
    top: 7.5%;
    width: 3%;
    height: auto;
}
.arrownext{
    position: absolute;
    left: 90%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    transform: scaleX(-1);
}
.check{
    opacity: 0;
}


/*---------------------------------------------------------------------------------------*/
.Nov27{
    position: absolute;
    width: 30vw;
    height: 35vh;
    left: 20%;
    top: 20%;
}
.whitebox1{
    position: absolute;
    background-color: white;
    width: 30vw;
    height: 35vh;
    left: 0%;
    top: 0%;
}
.text27{
    position: absolute;
    left: 2vw;
    top: 10vh;
}
.t27-1{
    opacity: 0;
}
.t27-2{
    opacity: 0;
}
.t27-3{
    opacity: 0;
}
.t27-4{
    opacity: 0;
}


.img27-1{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 1.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}
.img27-2{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 5.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}
.img27-3{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 10.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}
.img27-4{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 16.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}

/*nov27center animation*/
.nov27lab input:checked ~ .Nov27 .whitebox1{
    animation: move1 1s forwards;
}
.nov27lab input:not(:checked) ~ .Nov27 .whitebox1{
    animation: move1back 1s forwards;
}


.nov27lab input:checked ~ .Nov27 .img27-1 {
    animation: imgmove1 1s forwards;
}
.nov27lab input:not(:checked) ~ .Nov27 .img27-1 {
    animation: imgmove1back 1s forwards;
}
.nov27lab input:checked ~ .Nov27 .img27-1:hover{
    opacity: 0;
}
.nov27lab input:checked ~ .Nov27 .img27-2 {
    animation: imgmove2 1s forwards;
}
.nov27lab input:not(:checked) ~ .Nov27 .img27-2 {
    animation: imgmove2back 1s forwards;
}
.nov27lab input:checked ~ .Nov27 .img27-2:hover{
    opacity: 0;
}
.nov27lab input:checked ~ .Nov27 .img27-3 {
    animation: imgmove3 1s forwards;
}
.nov27lab input:not(:checked) ~ .Nov27 .img27-3 {
    animation: imgmove3back 1s forwards;
}
.nov27lab input:checked ~ .Nov27 .img27-3:hover{
    opacity: 0;
}
.nov27lab input:checked ~ .Nov27 .img27-4 {
    animation: imgmove4 1s forwards;
}
.nov27lab input:not(:checked) ~ .Nov27 .img27-4 {
    animation: imgmove4back 1s forwards;
}
.nov27lab input:checked ~ .Nov27 .img27-4:hover{
    opacity: 0;
}
.nov27lab input:checked ~ .Nov27 .t27-1{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 18vh;
    left: -5.5vw;
    animation: showings 5s forwards;
}
.nov27lab input:checked ~ .Nov27 .t27-2{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 14vh;
    left: 7.5vw;
    animation: showings 5s forwards;
}
.nov27lab input:checked ~ .Nov27 .t27-3{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 16vh;
    left: 19.7vw;
    animation: showings 5s forwards;
}
.nov27lab input:checked ~ .Nov27 .t27-4{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 20vh;
    left: 33.5vw;
    animation: showings 5s forwards;
}


/*other div corner*/
.nov27lab input:checked ~ .nov28lab {
    animation: hiddings 0.3s forwards;
}
.nov27lab input:not(:checked) ~ .nov28lab {
    animation: showings 0.3s forwards;
}
@keyframes imgmove1 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: 1.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
}
@keyframes imgmove1back {
    0%{
        left: 1.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}

@keyframes imgmove2 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: 14.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
}
@keyframes imgmove2back {
    0%{
        left: 14.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}

@keyframes imgmove3 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: 27.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
}
@keyframes imgmove3back {
    0%{
        left: 27.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}

@keyframes imgmove4 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: 40.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
}
@keyframes imgmove4back {
    0%{
        left: 40.5vw;
        top: 20vh;
        filter: grayscale(0);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}
/*-------------------------------------------------------------------------------------------*/

.Nov28{
    position: absolute;
    width: 30vw;
    height: 35vh;
    left: 52%;
    top: 20%;
}
.whitebox2{
    position: absolute;
    background-color: white;
    width: 30vw;
    height: 35vh;
    left: 0%;
    top: 0%;
}

.text28{
    position: absolute;
    left: 2vw;
    top: 10vh;
}
.t28-1{
    opacity: 0;
}
.t28-2{
    opacity: 0;
}
.t28-3{
    opacity: 0;
}

.img28-1{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 1.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}
.img28-2{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 8.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}
.img28-3{
    position: absolute;
    width: auto;
    height: 30vh;
    top: 2vh;
    left: 15.5vw;
    box-shadow: -4px 5px 6px 3px rgba(50, 50, 50, 0.5);
    filter: grayscale(1);
}


.nov28lab input:checked ~ .Nov28 .whitebox2{
    animation: move2 1s forwards;
}
.nov28lab input:not(:checked) ~ .Nov28 .whitebox2{
    animation: move2back 1s forwards;
}


.nov28lab input:checked ~ .Nov28 .img28-1 {
    animation: imgmove2-1 1s forwards;
}
.nov28lab input:not(:checked) ~ .Nov28 .img28-1 {
    animation: imgmove2-1back 1s forwards;
}
.nov28lab input:checked ~ .Nov28 .img28-1:hover{
    opacity: 0;
}

.nov28lab input:checked ~ .Nov28 .img28-2 {
    animation: imgmove2-2 1s forwards;
}
.nov28lab input:not(:checked) ~ .Nov28 .img28-2 {
    animation: imgmove2-2back 1s forwards;
}
.nov28lab input:checked ~ .Nov28 .img28-2:hover{
    opacity: 0;
}

.nov28lab input:checked ~ .Nov28 .img28-3 {
    animation: imgmove2-3 1s forwards;
}
.nov28lab input:not(:checked) ~ .Nov28 .img28-3 {
    animation: imgmove2-3back 1s forwards;
}
.nov28lab input:checked ~ .Nov28 .img28-3:hover{
    opacity: 0;
}



.nov28lab input:checked ~ .Nov28 .t28-1{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 15vh;
    left: -33vw;
    animation: showings 5s forwards;
}
.nov28lab input:checked ~ .Nov28 .t28-2{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1.5vw;
    top: 14vh;
    left: -16vw;
    animation: showings 5s forwards;
}
.nov28lab input:checked ~ .Nov28 .t28-3{
    position: absolute;
    transform: translate(50%, 50%);
    font-size: 1vw;
    top: 10vh;
    left: -2.5vw;
    animation: showings 5s forwards;
}

@keyframes imgmove2-1 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: -27vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
}
@keyframes imgmove2-1back {
    0%{
        left: -27vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}

@keyframes imgmove2-2back {
    0%{
        left: -9vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}

@keyframes imgmove2-2 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: -9vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
}
@keyframes imgmove2-3 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        left: 8vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
}
@keyframes imgmove2-3back {
    0%{
        left: 8vw;
        top: 20vh;
        filter: grayscale(0);
        transform: scale(1.1);
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}
/*--------------------------------------------------------------------------------*/




.Nov29{
    position: absolute;
    background-color: white;
    width: 30vw;
    height: 35vh;
    left: 20%;
    top: 60%;
}


















.Nov30{
    position: absolute;
    background-color: white;
    width: 30vw;
    height: 35vh;
    left: 52%;
    top: 60%;
}














@keyframes move1{
    0%{
        transform: translate(0,0) scaleY(1) scaleX(1);
    }
    100%{
        transform: translate(50%, 50%) scaleY(1.5) scaleX(1.8);
        left: -3vw;
    }
}

@keyframes move1back{
    0%{
        transform: translate(50%, 50%) scaleY(1.5) scaleX(1.8);
        left: -3vw;
    }
    100%{
        transform: translate(0,0) scaleY(1) scaleX(1);
    }
}

@keyframes move2{
    0%{
        transform: translate(0,0) scaleY(1) scaleX(1);
    }
    100%{
        transform: translate(-50%, 50%) scaleY(1.5) scaleX(1.8);
        left: -3vw;
    }
}

@keyframes move2back{
    0%{
        transform: translate(-50%, 50%) scaleY(1.5) scaleX(1.8);
        left: -3vw;
    }
    100%{
        transform: translate(0,0) scaleY(1) scaleX(1);
    }
}




@keyframes corner28 {
    0%{
        transform: translate(0,0) scale(1);
    }
    100%{
        transform: translate(30%,-30%) scale(0.6);
        left: 60%;
    }
}
@keyframes corner28back {
    0%{
        transform: translate(30%,-30%) scale(0.6);
        left: 60%;
    }
    100%{
        transform: translate(0,0) scale(1);
    }
}
@keyframes showings {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hiddings{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}