body{
    background-color:midnightblue;
    overflow-x: hidden;

}
.topic{
    position: relative;
    left:35%;
}
h3{
    position: relative;
    left: 640px;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}
.sentence24{
    background-color: mediumblue;
    color: white;
    width: 500px;
    height: 80px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 20px;
    position: relative;
    left: 450px;
}
.S24{
    position: relative;
    left: 43%;
}

.sentence25{
    background-color: mediumblue;
    color: white;
    width: 1000px;
    height: 150px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 5px;
    position: relative;
    left: 250px;
}
.S25{
    position: relative;
    left: 650px;
}

.sentence26{
    background-color: mediumblue;
    color: white;
    width: 500px;
    height: 80px;
    padding-top: 3px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 1px;
    position: relative;
    left: 450px;
}
.S26{
    position: relative;
    left:650px;
}

.sentence28{
    background-color: mediumblue;
    color: white;
    width: 800px;
    height: 250px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 30px;
    position: relative;
    left: 300px;
}
.S28{
    position: relative;
    left: 650px;
}
h1{
    color: white;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
}
h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: white;
}