body{
    background-color: rgb(208, 190, 158);
    color: rgb(18, 13, 77);
    width: auto;
    height: auto;
    overflow-x: hidden;
}
h1{
    font-optical-sizing: auto;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline rgb(82, 61, 22);
    position: relative;
    left: 100px;
}
h2{
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: relative;
    left: 3%;
}
pre{
    font-optical-sizing: auto;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline rgb(82, 61, 22);
    position: relative;
    left: 100px;
    font-size: 30px;
}
img{
    position: relative;
    left: 100px;
    height: 1000px;
}
h2{
    color: rgb(18, 13, 77);
    text-decoration: underline white;
    font-size: 20px;
}
