body{
    background-image: url("trees.jpg");
  background-size: cover;          
  background-repeat: no-repeat;     
  background-position: center;
  min-height: 1800px;
  overflow-x: hidden;
}
.introsentence{
    position: absolute;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.5vw;
    left: 15%;
    top: 35%;
    color: rgb(0, 0, 0);
    animation: title 5s infinite;
}
.parent{
    position: relative;
    width: 100%;
    height: 100vh;
}

.Menu{
    animation: title 5s infinite;
    text-decoration-style: wavy black;
    font-size: 4vw;
    position: absolute;
    top: 115%;
    left: 48%;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
ul{
    width: 40vw;
    height: auto;
    color:black;
    font-style: normal;
    position: relative;
    left: 20vw;
    top:100vh;
}
.calendar{
    background-color: white;
    border: 50px black inset;
    width: 40vw;
    height: 87vh;
    position: absolute;
    top: 250px;
    left: 10vw;
}
.c1 a{
  display: block;    
  margin-bottom: 10px; 
  text-decoration: none;
  position: relative;
  font-size: 1.5vw;
  left: 5vw;
  top: 5vh;
  line-height: 2.5;
  color: rgb(74, 74, 74);
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.c2 a{
    display: block;    
  margin-bottom: 10px; 
  text-decoration: none;
  position: relative;
  left: 23vw;
  top: 5vh;
  color: rgb(149, 149, 149);
  line-height: 2.5;
  font-size: 1.5vw;
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.home{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    left: 135px;
    top: 180px;
    background-color: gray;
    text-decoration: underline black;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

@keyframes title {
    0%{
        color: rgb(77, 76, 76);
    }
    50%{
        color: rgb(166, 165, 165);
    }
    100%{
        color: rgb(77, 76, 76);
    }
}

@media only screen and (max-width: 600px){
    .calendar{
        width: 70vw;
        left: -15vw;
    }
    ul{
        font-size: 5vw;
        width: 70vw;
    }

    .c1 a{
        font-size: 3vw;
        top: 10vw;
        left: 5vw;
    }

    .c2 a{
        font-size: 3vw;
        top: 20vw;
        left: 35vw;
    }
}
/*0%{
        color: black;
    }
    50%{
        color: whitesmoke;
    }
    100%{
        color: black;
    }*/
