body{
    background-color: black;
    height: auto;
    overflow-x: hidden;
}

.title{
    position: relative;
    color: white;
    font-size: 3.5vw;
    top: 3vh;
    left: 37%;
}
h1{
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.calendar{
    position: absolute;
    left: 12%;
    top: 7.5%;
    width: 3%;
    height: auto;
}
pre{
    position: relative;
    font-size: 1vw;
    font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}
.arrownext{
    position: absolute;
    left: 90%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    transform: scaleX(-1);
}
.arrowback{
    position: absolute;
    left: 6%;
    top: 7.5%;
    width: 3%;
    height: auto;
    filter: grayscale(100%);
}

.overall{
    color: white;
    width: 100%;
    height: auto;
}

.hidden{
    color: white;
    position: relative;
    left: 10%;
    font-size:1vw ;
    text-decoration: none;
}
.parent{
    background-color: black;
    position: relative;
    width: 65vw;
    height: auto;
    margin: auto;
    top: 30px;
    border: rgb(255, 255, 255) 10px solid;
}
.child{
    color: white;
    position: relative;
    left: 2vw;
}
.child1{
    position: relative;
    left: 7%;
}
.child2{
    color:black;
    width:55%;
    position: relative;
    left: 38%;
    background-color: white;
}
.child2_1{
    color: black;
    width: 55%;
    position: relative;
    left: 39%;
    background-color: white;
}

.date2{
    position: relative;
    left: 3vw;
    top: 1vh;
}
.date22{
    position: relative;
    left: 5%;
}

@media only screen and (max-width: 600px) {
    .parent{
        width: 90vw;
        left: 3%;
    }
    pre{
        font-size: 10px;
    }
    .title{
        font-size: 25px;
        left: 33%;
        top: 20%;
    }
    .arrowback{
        width: 20px;
        height: auto;
        top: 3%;
    }
    .arrownext{
        width: 20px;
        height: auto;
        top: 3%;
    }
    .calendar{
        width: 20px;
        height: auto;
        top: 3%;
    }
    .child2{
        width: 70%;
        left: 25%;
    }
    .child2_1{
        width: 70%;
        left: 26%;
    }
    .hidden{
        font-size: 10px;
    }
}