body{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
h1{
    font-optical-sizing: auto;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline rgb(146, 146, 146);
    position: absolute;
    left: 8%;
    top: 13vh;
    font-size: 2vw;
}

.arrowback{
    position: absolute;
    left: 6%;
    top: 7.5%;
    width: 3%;
    height: auto;
    filter: grayscale(100%);
}
p{
    font-optical-sizing: auto;
    font-family: "Moon Dance", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline rgb(82, 61, 22);
    position: relative;
    left: 8%;
    font-size: 2vw;
    top: 20vh;
    width: 80vw;
    height: auto;
}
img{
    position: relative;
    left: 8%;
    top: 15vh;
    height: 70vh;
}
h2{
    color: rgb(18, 13, 77);
    text-decoration: underline white;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .arrowback{
        width: 20px;
        height: auto;
    }
    h1{
        font-size: 25px;
        left: 5%;
        top: 10vh;
    }
    p{
        font-size: 25px;
        left: 5%;
        top: 15vh;
        width: 90vw;
    }
    img{
        left: 5%;
        top: 10vh;
        width: 80vw;
        height: auto;
    }
}