body{
    background-color: black;
    width: auto;
    overflow-x: hidden;
}
.topic{
    width: auto;
    position: relative;
    top: 1.9vh;
    left: 37%;
    height: 4%;
    color: white;
    font-size: 3.5vw;
    
}
.arrowback{
    position: absolute;
    left: 6%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    z-index: 1;
}
.arrownext{
    position: absolute;
    left: 90%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    transform: scaleX(-1);
    z-index: 3;
}
.calendar{
    position: absolute;
    left: 12%;
    top: 7.5%;
    width: 3vw;
    height: auto;
    z-index: 2;
}

h1{
    color: black;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
h2{
    color:white;
}
.phrase{
    font-size: 1.3vw;
}


.date{
    position: relative;
    left: 15%;
    font-size: 3vh;
    text-decoration: double black;
}

.parent{
    position: relative;
}
pre{
    position: absolute;
    top:35% ;
    left: 5%;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
}
.child{
    position: relative;
    left: 5%;
    width: 80%;
    height: 100%;
}
.change{
    position: relative;
    top: 8%;
}



.All17{
    position: relative;
    display: flex;
    width: 35vw;
    left: 5%;
    top: 5%;
    align-items: flex-start;
    z-index: 3;
}
.img17{
    width: 60vh;
    border: 20px rgb(255, 255, 255) solid;
}
.img17color{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60vh;
    height: auto;
    border: 20px rgb(255, 255, 255) solid;
    opacity: 0;
}
.Sep17{
    position: absolute;
    background-color: white;
    color: black;
    left: 72.5vh;
    top: 0%;
    width: 20vw;
    height: 15vh;
    border: 2px rgb(131, 131, 131) solid;
}

.hidden17{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45vw;
    top: 25vh;
    font-size: 4vh;
    opacity: 1;
}
.block17{
    background-color: white;
    position: absolute;
    left: 45vw;
    top: 5%;
    width: 40vw;
    height: 40vh;
    opacity: 0;
}
.back17{
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 63vh;
    height: 63vh;
    opacity: 0;
}
.sug1{
    position: absolute;
    top: 23vh;
    left: 14vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    opacity: 0;
}
.All17:hover .sug1{
    opacity: 1;
}
.All17:hover .back17{
    opacity: 0.4;
}
.All17:active .sug1{
    opacity: 0;
}
.All17:active .img17{
    opacity: 0;
}
.All17:active .img17color{
    opacity: 1;
}
.All17:active .Sep17{
    opacity: 0;
}
.All17:active .block17{
    opacity: 1;
}





.All18{
    position: relative;
    display: flex;
    width: 35vw;
    left: 60%;
    top: 5%;
    align-items: flex-start;
}
.img18{
    width: 60vh;
    border: 20px rgb(255, 255, 255) solid;
}
.img18color{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60vh;
    height: auto;
    border: 20px rgb(255, 255, 255) solid;
    opacity: 0;
}
.Sep18{
    position: absolute;
    background-color: white;
    color: black;
    left: 50.3vh;
    top: 20.1%;
    width: 20vw;
    height: 15vh;
    border: 2px rgb(131, 131, 131) solid;
}

.hidden18{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 10vw;
    top: 28%;
    font-size: 4vh;
    opacity: 1;
}
.back18{
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 65vh;
    height: 65vh;
    opacity: 0;
}
.sug2{
    position: absolute;
    top: 23vh;
    left: 14vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    opacity: 0;
}
.All18:active .back18{
    opacity: 0.5;
}
.All18:active .img18color{
    opacity: 1;
}
.All18:active .Sep18{
    opacity: 0;
}
.All18:hover .sug2{
    opacity: 1;
}
.All18:hover .back18{
    opacity: 0.5;
}






.All19{
    background-color: aqua;
    position: relative;
    display: flex;
    width: 35vw;
    left: 5%;
    top: 5%;
    align-items: flex-start;
    z-index: 50;
}
.img19{
    width: 60vh;
    border: 20px rgb(255, 255, 255) solid;
}
.img19color{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60vh;
    height: auto;
    border: 20px rgb(255, 255, 255) solid;
    opacity: 0;
}
.Sep19{
    position: absolute;
    background-color: white;
    color: black;
    left: 72.5vh;
    top: 40.3%;
    width: 20vw;
    height: 15vh;
    border: 2px rgb(131, 131, 131) solid;
}

.hidden19{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45vw;
    top: 48%;
    font-size: 4vh;
    opacity: 1;
}
.back19{
    background-color: white;
    position: absolute;
    left: 10;
    top: 0%;
    width: 65vh;
    height: 65vh;
    opacity: 0;
}
.sug3{
    position: absolute;
    top: 23vh;
    left: 14vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    opacity: 0;
}
.All19:active .back19{
    opacity: 0.5;
}
.All19:active .img19color{
    opacity: 1;
}
.All19:active .Sep19{
    opacity: 0;
}
.All19:hover .sug3{
    opacity: 1;
}
.All19:hover .back19{
    opacity: 0.5;
}





.All20{
    position: relative;
    display: flex;
    left: 60%;
    top: 5%;
    width: 35vw;
    align-items: flex-start;
}
.img20{
    width: 60vh;
    border: 20px rgb(255, 255, 255) solid;
}
.img20color{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60vh;
    height: auto;
    border: 20px rgb(255, 255, 255) solid;
    opacity: 0;
}
.Sep20{
    position: absolute;
    background-color: white;
    color: black;
    left: 50.3vh;
    top: 60.4%;
    width: 20vw;
    height: 15vh;
    border: 2px rgb(131, 131, 131) solid;
}

.hidden20{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0vw;
    top: 70%;
    font-size: 4vh;
    opacity: 1;
}
.back20{
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 65vh;
    height: 65vh;
    opacity: 0;
}
.sug4{
    position: absolute;
    top: 23vh;
    left: 14vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    opacity: 0;
}
.All20:active .back20{
    opacity: 0.5;
}
.All20:active .img20color{
    opacity: 1;
}
.All20:active .Sep20{
    animation-name: explain;
    animation-duration: 3s;
}
.All20:hover .back20{
    opacity: 0.4;
}
.All20:hover .sug4{
    opacity: 1;
}






.All21{
    position: relative;
    display: flex;
    left: 5%;
    top: 5%;
    width: 35vw;
    align-items: flex-start;
}
.img21{
    width: 60vh;
    border: 20px rgb(255, 255, 255) solid;
}
.img21color{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60vh;
    height: auto;
    border: 20px rgb(255, 255, 255) solid;
    opacity: 0;
}
.Sep21{
    position: absolute;
    background-color: white;
    color: black;
    left: 72.5vh;
    top: 80.5%;
    width: 20vw;
    height: 15vh;
    border: 2px rgb(131, 131, 131) solid;
}

.hidden21{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 45vw;
    top: 87%;
    font-size: 4vh;
    opacity: 1;
}
.back21{
    background-color: white;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 65vh;
    height: 65vh;
    opacity: 0;
}
.sug5{
    position: absolute;
    top: 23vh;
    left: 13vw;
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    opacity: 0;
}
.All21:active .hidden21{
    opacity: 1;
}
.All21:active .back21{
    opacity: 0.5;
}
.All21:active .img21color{
    opacity: 1;
}
.All21:active .Sep21{
    opacity: 0;
}
.All21:hover .sug5{
    opacity: 1;
}
.All21:hover .back21{
    opacity: 0.4;
}



@keyframes appears{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


