body{
    background-color: rgb(47, 46, 46);
    height: 1500px;
    border: 30px black solid;
}

h1{
    font-family: "Macondo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
}

.overall{
    color: white;
    width: 300px;
    height: auto;
}

.home{
    color: white;
    position: relative;
    width: auto;
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.hidden{
    color: rgb(143, 199, 255);
    position: relative;
    left: 10%;
    font-size:15px ;
    text-decoration: none;
}
.parent{
    background-color: rgb(28, 29, 30);
    position: relative;
    /*left: 25%;
    top: 40% ;*/
    width: 800px;
    height: 1100px;
    margin: auto;
    top: 30px;
    border: rgb(255, 255, 255) 10px solid;
}
.child{
    color: white;
    position: relative;
    left: 30px;
}
.child1{
    position: relative;
    left: 7%;
}
.child2{
    color: rgb(62, 78, 112);
    width: 400px;
    position: relative;
    left: 38%;
    background-color: rgb(217, 226, 245);
}
.child2_1{
    color: rgb(62, 78, 112);
    width: 400px;
    position: relative;
    left: 39%;
    background-color: rgb(217, 226, 245);
}
.title{
    color: white;
    position: relative;
    text-align: center;
}
.date2{
    position: relative;
    left: 35px;
    top: 5px;
}
.date22{
    position: relative;
    left: 5%;
}
